.vjs-overlay-container,
.vb--overlay-container {
  pointer-events: auto !important;
}
.switchComponents {
  font-size: 16px;
  display: block;
  z-index: 99;
  position: absolute;
  color: #3053a2;
  right: 25px;
  top: 220px;
  border: 1px solid #3053a2;
  padding: 0.5em;
  cursor: pointer;
}
.toggleModalComponent {
  font-size: 16px;
  display: block;
  z-index: 99;
  position: absolute;
  color: #3053a2;
  right: 25px;
  bottom: 52px;
  border: 1px solid #3053a2;
  padding: 0.5em;
  cursor: pointer;
  width: 218px;
  text-align: center;
}
.wishlistModal {
  bottom: 9px;
}
.Header .mainMenu--brandInfo--inline {
  color: #0b2443;
}
