@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap');
* {
  font-family: 'Source Sans Pro';
}
.VideoPlayerContainer {
  margin-top: 40px;
  margin-left: 47.5px;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
}
.sub-Menu {
  display: flex;
  position: relative;
  width: 100%;
  font-family: 'Source Sans Pro';
  align-items: center;
}
.sub-Menu .subMenu--linksWithIcons {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1650px;
  margin-left: 40px;
}
.sub-Menu .subMenu--linksWrapper {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sub-Menu .subMenu--linksWrapper .subMenu--link {
  color: rgb(11, 36, 67, 0.4);
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  padding: 0 34px;
  cursor: pointer;
}

.sub-Menu .subMenu--linksWrapper .subMenu--link:hover,
.sub-Menu .subMenu--linksWrapper .subMenu--link--active {
  color: rgb(11, 36, 67);
}

.sub-Menu .subMenu--statsWrapper {
  display: flex;
  justify-content: space-evenly;
}

.sub-Menu .subMenu--statsWrapper .stats--content {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: #0b2443;
  line-height: 1.3em;
  padding: 0 1em;
  opacity: 0.4;
  cursor: pointer;
}
.sub-Menu .subMenu--statsWrapper .stats--content:hover {
  opacity: 1;
}
.sub-Menu .subMenu--statsWrapper .stats--content .stats--content--likeIcon {
  background: url(/images/likeIcon.svg) center / contain no-repeat;
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: block;
}
.sub-Menu .subMenu--statsWrapper .stats--content .stats--content--heartIcon {
  background: url(/images/heart-black.svg) center / contain no-repeat;
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: block;
}
.sub-Menu
  .subMenu--statsWrapper
  .stats--content--heart:hover
  .stats--content--heartIcon,
.sub-Menu
  .subMenu--statsWrapper
  .stats--content
  .stats--content--heartIcon.loved {
  background: url(/images/heart.svg) center / contain no-repeat;
}
.sub-Menu .subMenu--statsWrapper .stats--content .stats--content--shareIcon {
  background: url(/images/shareIcon.svg) center / contain no-repeat;
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: block;
}
.sub-Menu .subMenu--profileInfo {
  margin-right: 48px;
  cursor: pointer;
}
.sub-Menu .subMenu--profileInfo .subMenu--profileInfo--img {
  width: 50px;
  height: 50px;
  border: solid 4px rgba(11, 36, 67, 0.28);
  border-radius: 50%;
}
.subMenu--underline {
  position: absolute;
  left: -11%;
  bottom: -12.5px;
  width: 110%;
  opacity: 0.75;
  border: 2px solid rgba(11, 36, 67, 0.28);
  margin-top: 0.3em;
}
.sub-Menu .subMenu--link-bullet {
  position: relative;
}
.sub-Menu .subMenu--link-bullet:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #f03c3c;
  border-radius: 50%;
}
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap');
.WishlistCollection {
  width: 100%;
  max-width: 610px;
  padding: 4px;
  border-radius: 10px;
  background-color: #ffffff;
  font-family: 'Source Sans Pro';
  z-index: 2;
  margin-right: 35px;
}
.WishlistCollection .WishlistCollection--gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 100px);
  grid-gap: 4px;
  max-width: 610px;
}
.WishlistCollection .WishlistCollection--gallery .gallery--item-1,
.WishlistCollection .WishlistCollection--gallery .gallery--item-2,
.WishlistCollection .WishlistCollection--gallery .gallery--item-4,
.WishlistCollection .WishlistCollection--gallery .gallery--item-5 {
  grid-row: span 2;
}
.gallery--item-3 {
  grid-row: span 3;
}
.gallery--item-6 {
  grid-row: span 1;
}

.WishlistCollection .WishlistCollection--gallery .gallery--item {
  margin: 0;
}
.WishlistCollection .WishlistCollection--gallery .gallery--item .gallery--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.WishlistCollection
  .WishlistCollection--collection
  .WishlistCollection--collection-h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3em;
  letter-spacing: 0.025em;
  color: #0b2443;
  margin-top: 16px;
  margin-bottom: 4px;
  margin-left: 23.5px;
  cursor: pointer;
}
.WishlistCollection
  .WishlistCollection--collection
  .WishlistCollection--collection-span {
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3em;
  letter-spacing: 0.025em;
  color: #0b2443;
  opacity: 0.4;
  margin-left: 23.5px;
  margin-top: 0;
  margin-bottom: 26px;
}
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap');
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 779px;
  width: 450px;
  box-shadow: -10px 0 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  padding: 53px 65px 62px 56px;
  font-family: 'Source Sans Pro';
}
.login .login--imgWrapper {
  max-width: 350px;
  margin: 0;
  margin-bottom: 60px;
}
.login .login--imgWrapper .login--img {
  height: 100%;
  width: 100%;
}
.login .login--emailWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
.login .login--passwordWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10.6px;
}
.login .login--label {
  margin-bottom: 15.6px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3em;
  letter-spacing: 0.025em;
  color: #0b2443;
}
.login .login--input {
  height: 1.2em;
  border: 0;
  border-bottom: 1px solid #0b244359;
  font-size: 18px;
  color: #0b2443;
  padding-left: 10px;
}
.login .login--input:focus {
  outline: none;
  border-bottom: 1px solid #0b2443;
}
.login .login--resetWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.login .login--resetWrapper .login--staySigned {
  display: flex;
  align-items: center;
}
.login .login--resetWrapper .login--staySigned .login--staySigned-checkbox {
  margin-left: 0;
}
.login .login--resetWrapper .login--staySigned .login--staySigned--label {
  font-size: 15px;
  color: #0b2443;
  letter-spacing: 0.025em;
  margin-left: 0.3em;
}
.login .login--resetWrapper .login--forgotPassword .login--forgotPassword--a {
  font-size: 15px;
  color: #00acd8;
  letter-spacing: 0.025em;
  text-decoration: none;
  cursor: pointer;
}

.login .login--buttonWrapper {
  width: 100%;
  margin-top: 40px;
}
.login .login--buttonWrapper .login--button {
  color: #ffffff;
  height: 45px;
  width: 100%;
  min-width: 120px;
  border-radius: 39px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16);
  background-color: #00acd8;
  outline: 0;
  border: 0;
  overflow: visible;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.025em;
  padding: 0;
}
.login .loginWithWrapper {
  margin-top: 40px;
}
.login .login--loginWith {
  font-size: 18px;
  font-weight: 600;
  color: #0b2443;
  letter-spacing: 0.025em;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}
.login .login--withSocialMedia {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 118px;
  margin-right: -4px;
}
.login .login--withSocialMedia .login--withFacebook {
  background: url(/images/fb_round_logo.png) center / contain no-repeat;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.login .login--withSocialMedia .login--withGoogle {
  background: url(/images/google_logo.png) center / contain no-repeat;
  width: 45px;
  height: 45px;
  cursor: pointer;
}
.login .login--hr {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.16);
  margin-top: 49px;
  margin-bottom: 40px;
}
.login .login-haveAccount {
  font-size: 18px;
  font-weight: 600;
  color: #0b2443;
  letter-spacing: 0.025em;
  margin-bottom: 21px;
  margin-top: 0;
}
.login .login--signupButtonWrapper {
  width: 100%;
}
.login .login--signupButtonWrapper .login--signupButton {
  color: #83329c;
  height: 45px;
  width: 100%;
  min-width: 120px;
  border-radius: 39px;
  border: solid 1px #83329c;
  background-color: #ffffff;
  outline: 0;
  overflow: visible;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.025em;
  padding: 0;
}
.mainMenu--background {
  position: absolute;
  top: 0;
  left: 0;
  width: 1588px;
  height: 894px;
  background-image: url(../assets/bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1588px;
  height: 894px;
  opacity: 0.8;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #f5f9fc;
}
.ShoppingCart {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: solid 1px #ebeae9;
  border-radius: 8px;
  overflow: hidden;
  font-family: 'Source Sans Pro';
  z-index: 2;
  width: 1267px;
  height: 100px;
  margin-bottom: 20px;
}
.ShoppingCart .ShoppingCart--product {
  display: flex;
  align-items: center;
  width: 750px;
  height: 100%;
}
.ShoppingCart .ShoppingCart--product-figure {
  max-width: 100px;
  max-height: 100px;
  margin: 0;
  height: 100%;
  width: 100%;
}
.ShoppingCart .ShoppingCart--product-figure .ShoppingCart--product-figure-img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.ShoppingCart .ShoppingCart--product-info {
  margin-left: 30px;
  width: 100%;
}
.ShoppingCart .ShoppingCart--product-info .ShoppingCart--product-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3em;
  letter-spacing: 0.025em;
  color: #0e273b;
  background: #ffffff;
  margin: 0;
  padding: 0;
  text-align: left;
}
.ShoppingCart .ShoppingCart--product-info .ShoppingCart--product-seller {
  margin-top: 9px;
}
.ShoppingCart
  .ShoppingCart--product-info
  .ShoppingCart--product-seller
  .ShoppingCart--product-seller-label {
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 0.025em;
  color: #0e273b;
}
.ShoppingCart
  .ShoppingCart--product-info
  .ShoppingCart--product-seller
  .ShoppingCart--product-seller-name {
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 0.025em;
  color: #00acd8;
  margin-left: 9px;
}
.ShoppingCart .ShoppingCart--quantite {
  display: flex;
  align-items: center;
  margin-right: 140px;
}
.ShoppingCart .ShoppingCart--quantite-iconContainer {
  display: flex;
  cursor: pointer;
  height: 15px;
  width: 15px;
  justify-content: center;
  align-items: center;
}
.ShoppingCart .ShoppingCart--quantite .ShoppingCart--quantite-minusIcon {
  height: 2px;
  width: 11px;
  background-color: #0b2443;
}
.ShoppingCart .ShoppingCart--quantite .ShoppingCart--quantite-plusIcon {
  position: relative;
  height: 2px;
  width: 11px;
  background-color: #0b2443;
}
.ShoppingCart .ShoppingCart--quantite .ShoppingCart--quantite-plusIcon::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 11px;
  background-color: #0b2443;
  transform: rotate(90deg);
}
.ShoppingCart
  .ShoppingCart--quantite
  .ShoppingCart--quantite-inputContrainer
  .ShoppingCart--quantite-input::-webkit-outer-spin-button,
.ShoppingCart
  .ShoppingCart--quantite
  .ShoppingCart--quantite-inputContrainer
  .ShoppingCart--quantite-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.ShoppingCart
  .ShoppingCart--quantite
  .ShoppingCart--quantite-inputContrainer
  .ShoppingCart--quantite-input {
  -moz-appearance: textfield;
  width: 33px;
  height: 34px;
  background-color: #f7f7f7;
  border: none;
  margin: 0 1em;
  text-align: center;
  font-size: 16px;
}
.ShoppingCart
  .ShoppingCart--quantite
  .ShoppingCart--quantite-inputContrainer
  .ShoppingCart--quantite-input:focus {
  outline: none;
}
.ShoppingCart .ShoppingCart--priceContainer {
  margin-right: 157px;
}
.ShoppingCart .ShoppingCart--priceContainer .ShoppingCart--price {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3em;
  letter-spacing: 0.025em;
  color: #0e273b;
  white-space: nowrap;
}
.ShoppingCart .ShoppingCart--closeContainer {
  display: flex;
  width: 20px;
  height: 20px;
  position: relative;
  align-items: center;
  position: relative;
  margin-right: 2em;
  cursor: pointer;
}
.ShoppingCart .ShoppingCart--closeContainer .ShoppingCart--close {
}
.ShoppingCart .ShoppingCart--closeContainer .ShoppingCart--close::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  width: 18px;
  background-color: #0b2443;
  transform: rotate(45deg);
}
.ShoppingCart .ShoppingCart--closeContainer .ShoppingCart--close::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  width: 18px;
  background-color: #0b2443;
  transform: rotate(135deg);
}
.ShoppingCartTotal {
  width: 1580px;
  height: 60px;
  background-color: #ffffff;
  border: 1px solid #000000;
  overflow: hidden;
  font-family: 'Source Sans Pro';
}
.ShoppingCartTotal .ShoppingCartTotalContainer {
  width: 100%;
  height: 100%;
  max-width: 1300px;
  margin: auto;
}
.ShoppingCartTotal .ShoppingCartTotalContainer--content {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}
.ShoppingCartTotal .ShoppingCartTotalContainer .ShoppingCartTotal--total-label,
.ShoppingCartTotal .ShoppingCartTotalContainer .ShoppingCartTotal--total-price,
.ShoppingCartTotal .ShoppingCartTotalContainer .ShoppingCartTotal--next {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2.5em;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3em;
  letter-spacing: 0.025em;
  color: #0e273b;
  white-space: nowrap;
  height: 100%;
}
.ShoppingCartTotal .ShoppingCartTotalContainer .ShoppingCartTotal--next {
  background-color: rgba(131, 50, 156, 0.1);
  margin-left: 1em;
}
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap');
.watchlist {
  font-family: 'Source Sans Pro';
  width: 100%;
  max-width: 375px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  z-index: 2;
  margin-right: 30px;
}
.watchlist .watchlist--thumbnail {
  margin: 0;
  width: 375px;
  height: 210px;
}
.watchlist .watchlist--thumbnail .watchlist--thumbnail--img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.watchlist .watchlist--infoContainer {
  height: 217px;
  padding: 12.2px 20px 0 20px;
}
.watchlist .watchlist--brands {
  display: flex;
}
.watchlist .watchlist--brands .watchlist--brands-icon {
  width: 28px;
  height: 28px;
  border: solid 0.3px #f9f9f9;
  margin-right: 0;
  margin-left: -8px;
}
.watchlist .watchlist--brands img:first-child {
  margin-left: 0;
}

.watchlist .watchlist--infoContainer--h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3em;
  letter-spacing: 0.025em;
  color: #0b2443;
  margin: 15px 0;
}
.watchlist .watchlist--infoContainer--p {
  font-size: 14px;
  line-height: 1.3em;
  letter-spacing: 0.025em;
  color: #515252;
}
.watchlist .watchlist--hr {
  width: 100%;
  border: 1px solid #f5f5f5;
  margin: 0;
}
.watchlist .watchlist--viewsInfoContainer {
  display: flex;
  justify-content: space-between;
  max-width: 250px;
  margin: auto;
  height: 59px;
}
.watchlist .watchlist--viewsInfoContainer .watchlist--iconCintainer {
  display: flex;
  align-items: center;
  color: #0e273b;
}
.watchlist .watchlist--viewsInfoContainer .watchlist--tagsIcon {
  background: url(/images/tags.svg) center / contain no-repeat;
  width: 22px;
  height: 22px;
  cursor: pointer;
  display: block;
  margin-right: 8px;
}
.watchlist .watchlist--viewsInfoContainer .watchlist--heartIcon {
  background: url(/images/heart-black.svg) center / contain no-repeat;
  width: 38px;
  height: 38px;
  cursor: pointer;
  display: block;
}
.watchlist .watchlist--viewsInfoContainer .watchlist--heartIcon:hover,
.watchlist .watchlist--viewsInfoContainer .watchlist--heartIcon.loved {
  background: url(/images/heart.svg) center / contain no-repeat;
}
.watchlist .watchlist--viewsInfoContainer .watchlist--eyeIcon {
  background: url(/images/eye.svg) center / contain no-repeat;
  width: 38px;
  height: 38px;
  cursor: pointer;
  display: block;
}
.watchlist .watchlist--videoContainer {
  position: relative;
}
.watchlist .watchlist--videoContainer:hover {
  background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
  cursor: pointer;
}
.watchlist .watchlist--videoContainer::before {
  content: '';
  width: 23px;
  height: 30px;
  background: url(/images/play.svg) center / contain no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  right: 0;
  margin: auto;
  z-index: 2;
  display: none;
}
.watchlist .watchlist--videoContainer::after {
  content: '';
  width: 80px;
  height: 80px;
  opacity: 0.7;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  display: none;
}
.watchlist .watchlist--videoContainer .watchlist--brand {
  display: flex;
  align-items: center;
  position: absolute;
  top: 1em;
  left: 1em;
}
.watchlist .watchlist--videoContainer .watchlist--brand .watchlist--brand-img {
  width: 37px;
  height: 37px;
}
.watchlist .watchlist--videoContainer .watchlist--brand .watchlist--brand-span {
  font-size: 17px;
  font-weight: 600;
  line-height: 1.3em;
  letter-spacing: 0.025em;
  color: #f7f7f7;
  margin-left: 7px;
}
.watchlist .watchlist--videoContainer .watchlist--videoTime {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  background-color: #000000;
  opacity: 0.8;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding: 0px 5px;
}
.watchlist
  .watchlist--videoContainer
  .watchlist--videoTime
  .watchlist--videoTimeValue {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.025em;
  color: #ffffff;
}
.watchlist .watchlist--videoContainer:hover::after,
.watchlist .watchlist--videoContainer:hover::before {
  display: flex;
}
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap');
.WishlistCollection {
  width: 100%;
  max-width: 610px;
  padding: 4px;
  border-radius: 10px;
  background-color: #ffffff;
  font-family: 'Source Sans Pro';
  z-index: 2;
  margin-right: 35px;
}
.WishlistCollection .WishlistCollection--gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 100px);
  grid-gap: 4px;
  max-width: 610px;
}
.WishlistCollection .WishlistCollection--gallery .gallery--item-1,
.WishlistCollection .WishlistCollection--gallery .gallery--item-2,
.WishlistCollection .WishlistCollection--gallery .gallery--item-4,
.WishlistCollection .WishlistCollection--gallery .gallery--item-5 {
  grid-row: span 2;
}
.gallery--item-3 {
  grid-row: span 3;
}
.gallery--item-6 {
  grid-row: span 1;
}

.WishlistCollection .WishlistCollection--gallery .gallery--item {
  margin: 0;
}
.WishlistCollection .WishlistCollection--gallery .gallery--item .gallery--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.WishlistCollection
  .WishlistCollection--collection
  .WishlistCollection--collection-h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3em;
  letter-spacing: 0.025em;
  color: #0b2443;
  margin-top: 16px;
  margin-bottom: 4px;
  margin-left: 23.5px;
  cursor: pointer;
}
.WishlistCollection
  .WishlistCollection--collection
  .WishlistCollection--collection-span {
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3em;
  letter-spacing: 0.025em;
  color: #0b2443;
  opacity: 0.4;
  margin-left: 23.5px;
  margin-top: 0;
  margin-bottom: 26px;
}
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap');
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 779px;
  width: 450px;
  box-shadow: -10px 0 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  padding: 53px 65px 62px 56px;
  font-family: 'Source Sans Pro';
}
.signup .signup--imgWrapper {
  max-width: 350px;
  margin: 0;
  margin-bottom: 60px;
}
.signup .signup--imgWrapper .signup--img {
  height: 100%;
  width: 100%;
}
.signup .signup--emailWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
.signup .signup--passwordWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10.6px;
}
.signup .signup--label {
  margin-bottom: 15.6px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3em;
  letter-spacing: 0.025em;
  color: #0b2443;
}
.signup .signup--input {
  height: 1.2em;
  border: 0;
  border-bottom: 1px solid #0b244359;
  font-size: 18px;
  color: #0b2443;
  padding-left: 10px;
}
.signup .signup--input:focus {
  outline: none;
  border-bottom: 1px solid #0b2443;
}
.signup .signup--resetWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.signup .signup--resetWrapper .signup--staySigned {
  display: flex;
  align-items: center;
}
.signup .signup--resetWrapper .signup--staySigned .signup--staySigned-checkbox {
  margin-left: 0;
}
.signup .signup--resetWrapper .signup--staySigned .signup--staySigned--label {
  font-size: 15px;
  color: #0b2443;
  letter-spacing: 0.025em;
  margin-left: 0.3em;
}
.signup
  .signup--resetWrapper
  .signup--forgotPassword
  .signup--forgotPassword--a {
  font-size: 15px;
  color: #00acd8;
  letter-spacing: 0.025em;
  text-decoration: none;
  cursor: pointer;
}

.signup .signup--buttonWrapper {
  width: 100%;
  margin-top: 40px;
}
.signup .signup--buttonWrapper .signup--button {
  color: #ffffff;
  height: 45px;
  width: 100%;
  min-width: 120px;
  border-radius: 39px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16);
  background-color: #00acd8;
  outline: 0;
  border: 0;
  overflow: visible;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.025em;
  padding: 0;
}
.signup .signupWithWrapper {
  margin-top: 40px;
}
.signup .signup--signupWith {
  font-size: 18px;
  font-weight: 600;
  color: #0b2443;
  letter-spacing: 0.025em;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}
.signup .signup--withSocialMedia {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 118px;
  margin-right: -4px;
}
.signup .signup--withSocialMedia .signup--withFacebook {
  background: url(/images/fb_round_logo.png) center / contain no-repeat;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.signup .signup--withSocialMedia .signup--withGoogle {
  background: url(/images/google_logo.png) center / contain no-repeat;
  width: 45px;
  height: 45px;
  cursor: pointer;
}
.signup .signup--hr {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.16);
  margin-top: 49px;
  margin-bottom: 40px;
}
.signup .signup-haveAccount {
  font-size: 18px;
  font-weight: 600;
  color: #0b2443;
  letter-spacing: 0.025em;
  margin-bottom: 21px;
  margin-top: 0;
}
.signup .signup--signupButtonWrapper {
  width: 100%;
}
.signup .signup--signupButtonWrapper .signup--signupButton {
  color: #83329c;
  height: 45px;
  width: 100%;
  min-width: 120px;
  border-radius: 39px;
  border: solid 1px #83329c;
  background-color: #ffffff;
  outline: 0;
  overflow: visible;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.025em;
  padding: 0;
}
