@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap');
.WishlistCollection{
    width: 100%;
    max-width: 610px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ffffff;
    font-family: 'Source Sans Pro';
}
.WishlistCollection .WishlistCollection--gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 6vw);
    grid-gap: 5px;
    max-width: 610px;
}
.WishlistCollection .WishlistCollection--gallery .gallery--item-1,
.WishlistCollection .WishlistCollection--gallery .gallery--item-2,
.WishlistCollection .WishlistCollection--gallery .gallery--item-4,
.WishlistCollection .WishlistCollection--gallery .gallery--item-5{
    grid-row: span 2;
}
.gallery--item-3{
    grid-row: span 3;
}
.gallery--item-6{
    grid-row: span 1;
}

.WishlistCollection .WishlistCollection--gallery .gallery--item .gallery--img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.WishlistCollection .WishlistCollection--collection .WishlistCollection--collection-h2{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3em;
    letter-spacing: .025em;
    color: #0b2443;  
    margin-top: 1em;
    margin-left: 1em;
}
.WishlistCollection .WishlistCollection--collection .WishlistCollection--collection-span{
    display: block;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3em;
    letter-spacing: .025em;
    color: #0b2443;  
    opacity: .4;
    margin-left: 1em;
    margin-top: .2em;
    margin-bottom: 1em;
}