.sub-Menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.sub-Menu .subMenu--linksWrapper {
  width: 50%;
}

.sub-Menu .subMenu--linksWrapper .subMenu--link {
  height: 23px;
  color: #0b2443;
  opacity: 0.4;
  font-family: SourceSansPro;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: left;
  text-decoration: none;
  padding: 0 1em;
}

.sub-Menu .subMenu--linksWrapper .subMenu--link:hover,
.sub-Menu .subMenu--linksWrapper .subMenu--link--active {
  opacity: 1;
}

.sub-Menu .subMenu--statsWrapper {
  display: flex;
  justify-content: space-evenly;
}

.sub-Menu .subMenu--statsWrapper .stats--content {
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0 1em;
}
.subMenu--underline {
  width: 100%;
  opacity: 0.4;
  height: 1px;
  background: #0b2443;
}
