.mainMenu--header {
  display: flex;
  justify-content: space-between;
  width: 1588px;
  height: 150px;
}

.mainMenu--header .mainMenu--brandInfo {
  display: flex;
  align-content: center;
  align-items: center;
}

.mainMenu--header .mainMenu--brandInfo .company--name {
  height: 110px;
  font-family: SourceSansPro;
  font-size: 87px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.26;
  letter-spacing: normal;
  text-align: left;
  color: #0b2443;
  margin: 0.5em;
}
.mainMenu--header .mainMenu--brandInfo .campaign--name {
  height: 23px;
  font-family: SourceSansPro;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: left;
  color: #0b2443;
  padding: 0.5em;
}

.mainMenu--header .mainMenu--profileInfo {
  display: flex;
  height: 150px;
  width: 200px;
  padding: 0.2em;
}

.mainMenu--header .mainMenu--profileInfo .profile--name {
  align-self: center;
  height: 23px;
  opacity: 0.4;
  font-family: SourceSansPro;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: left;
  color: #0b2443;
  padding: 0.5em;
}
.mainMenu--header .mainMenu--profileInfo .profile--image {
  align-self: center;
  width: 50px;
  height: 50px;
}
