.ProfileAdresses--Container {
  display: flex;
}
.Profile,
.Adresses {
  width: 445px;
  border-radius: 8px;
  border: solid 1px #ebeae9;
  background-color: #ffffff;
  font-family: 'Source Sans Pro';
}
.Profile {
  height: 428px;
  margin-right: 35px;
  padding: 32px 45px 40px 45px;
}
.Adresses {
  width: 646px;
  padding: 45px 45px 40px 45px;
}
.Profile .profile--head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.Profile .profile--head .profile--head--label {
  font-size: 18px;
  font-weight: 600;
  color: #83329c;
  letter-spacing: 0.12px;
}
.Profile .profile--head .profile--head--img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.Profile .profile--info {
  display: flex;
  margin-bottom: 30px;
}
.Profile .profile--info .profile--info--label {
  width: 210px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.28;
  letter-spacing: 0.43px;
  color: #0b2443;
}
.Profile .profile--info .profile--info--p {
  margin: 0;
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.43px;
  color: #0e273b;
}
.Profile .profile--editButtonWrapper {
  width: 100%;
  margin-top: 2px;
  display: flex;
  justify-content: flex-end;
}
.Profile .profile--editButtonWrapper .profile--editButton {
  color: #ffffff;
  height: 40px;
  width: 150px;
  font-size: 14px;
  border-radius: 38px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16);
  background-color: #83329c;
  outline: 0;
  border: 0;
  overflow: visible;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.43px;
  padding: 0;
}
.Adresses .adresses--head {
  margin-bottom: 30px;
}
.Adresses .adresses--head .profile--head--label {
  font-size: 18px;
  font-weight: 600;
  color: #83329c;
  letter-spacing: 0.12px;
}
.Adresses .adresses--info {
  display: flex;
}
.Adresses .adresses--info .adresses--info--label {
  width: 210px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.28;
  letter-spacing: 0.43px;
  color: #0b2443;
}
.Adresses .adresses--info .adresses--info--p {
  margin: 0;
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.43px;
  color: #0e273b;
}
.Adresses .adresses--hr {
  width: 424px;
  height: 1px;
  background-color: #ebeae9;
  border-radius: 8px;
  border: 0;
  margin: 0;
  margin-top: 42px;
  margin-bottom: 50px;
}
.Adresses .adresses--editButtonWrapper {
  width: 100%;
  margin-top: 88px;
  display: flex;
  justify-content: flex-end;
}
.Adresses .adresses--editButtonWrapper .adresses--editButton {
  color: #ffffff;
  height: 40px;
  width: 150px;
  font-size: 14px;
  border-radius: 38px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16);
  background-color: #83329c;
  outline: 0;
  border: 0;
  overflow: visible;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.43px;
  padding: 0;
}
