* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro';
  margin: 0;
}
.AddToWishlist {
  display: flex;
  width: fit-content;
  height: 100%;
  border: 1px solid #ccc;
}
.AddToWishlist--imagesSlider {
  width: 616px;
  height: 672.5px;
  position: relative;
  overflow: hidden;
}
.AddToWishlist--imagesSlider:focus {
  outline: none;
}
.AddToWishlist--imagesSlider--figure {
  margin: 0;
  width: 100%;
  height: 100%;
}
.AddToWishlist--imagesSlider--figure:focus {
  outline: none;
}
.AddToWishlist--imagesSlider--figure--img {
  width: 100%;
  object-fit: cover;
  padding: 0 2px;
}
.AddToWishlist .AddToWishlist--imagesSlider .flickity-prev-next-button {
  position: absolute;
  top: 300px;
  width: 10px;
  height: 24px;
  background: transparent;
  border: 0;
  background: url(/images/ctrl-right.svg) center / contain no-repeat;
  cursor: pointer;
}
.AddToWishlist .AddToWishlist--imagesSlider .flickity-prev-next-button svg {
  display: none;
}
.AddToWishlist .AddToWishlist--imagesSlider .next {
  right: 17.6px;
  content: '';
}
.AddToWishlist .AddToWishlist--imagesSlider .previous {
  left: 19px;
  transform: rotate(180deg);
}

.AddToWishlist .AddToWishlist--information {
  position: relative;
  width: 767px;
  height: 671px;
  background-color: #f7f7f7;
  padding: 36.4px 60px 30px 55px;
}
.AddToWishlist--information--close {
  position: absolute;
  top: 17.4px;
  right: 20.5px;
  width: 21px;
  height: 21px;
  background: url(/images/close.svg) center / contain no-repeat;
  opacity: 0.7;
  cursor: pointer;
}
.AddToWishlist--information--close:hover {
  opacity: 1;
}
.AddToWishlist--information--h3 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.43px;
  color: #515252;
}
.AddToWishlist--information--search {
  width: 100%;
  position: relative;
  margin-top: 13px;
  margin-bottom: 13px;
}
.AddToWishlist--information--search--icon {
  position: absolute;
  width: 22px;
  height: 22px;
  background: url(/images/magnifier.svg) center / contain no-repeat;
  opacity: 0.5;
}
.AddToWishlist--information--search--input {
  width: 100%;
  border: 0;
  background: transparent;
  border-bottom: 1px solid rgb(26, 26, 26, 0.5);
  padding-left: 28px;
  padding-bottom: 5.3px;
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.43px;
  color: #0e273b;
}
.AddToWishlist--information--search:hover
  .AddToWishlist--information--search--icon {
  opacity: 1;
}
.AddToWishlist--information--search--input:focus {
  outline: none;
}
.AddToWishlist--information--wishlistItemContainer {
  height: 485px;
}
.AddToWishlist--information--wishlistItem {
  display: flex;
  width: 100%;
  background: #ffffff;
  padding: 9px 16px;
  border: solid 1px #ffffff;
  border-radius: 8px;
  margin-top: 9px;
  cursor: pointer;
  height: 75px;
}
.AddToWishlist--information--wishlistItem-selected {
  border: solid 1px #eaeaea;
  background-color: #def0f4;
  position: relative;
}
.AddToWishlist--information--wishlistItem-selected::after {
  content: '';
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 24px;
  height: 17.5px;
  background: url(/images/o-check.svg) center / contain no-repeat;
}
.AddToWishlist--information--wishlistItem-selected-remove {
  border: solid 1px #eaeaea;
  background-color: #def0f4;
  position: relative;
}
.AddToWishlist--information--wishlistItem-selected-remove::after {
  content: '';
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 24px;
  height: 17.5px;
  background: url(/images/remove.svg) center / contain no-repeat;
}
.AddToWishlist--information--wishlistItem:hover {
  border: solid 1px #83329c;
}
.AddToWishlist--information--wishlistItem--titleItems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.AddToWishlist--information--wishlistItem--figure {
  width: 60px;
  height: 60px;
  margin-right: 40px;
}
.AddToWishlist--information--wishlistItem--figure--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  border: solid 2px #ffffff;
}
.AddToWishlist--information--btnContainer {
  display: flex;
  justify-content: space-between;
}
.AddToWishlist--information--btnContainer--createBtn {
  height: 40px;
  border-radius: 8px;
  color: #83329c;
  border: 1px solid #83329c;
  background-color: transparent;
  outline: 0;
  overflow: visible;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.43px;
  padding: 9px 18px;
  line-height: 1.28;
}
.AddToWishlist--information--btnContainer--doneBtn {
  width: 150px;
  height: 40px;
  border-radius: 8px;
  background-color: #83329c;
  color: #ffffff;
  outline: 0;
  border: 0;
  overflow: visible;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.43px;
  padding: 0;
  line-height: 1.28;
}
