.Product-Card {
  width: 228px;
  height: 500px;
  border-radius: 8px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 0 17.5px;
  font-family: 'Source Sans Pro';
  position: relative;
}
.Product-Card .productCard--imageWrapper {
  width: 228px;
  height: 266px;
  margin: 0 auto;
  z-index: 2;
  border-radius: 8px;
}
.Product-Card .productCard--imageWrapper .productCard--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: solid 2px #ffffff;
  border-radius: 8px;
}
.Product-Card .productCard--wishlist-statusWrapper {
  height: 34px;
  background-color: #00acd8;
  padding-top: 11px;
  padding-bottom: 5px;
  margin-top: -5px;
  border-radius: 0 0 8px 8px;
  text-align: center;
  cursor: pointer;
}
.Product-Card
  .productCard--wishlist-statusWrapper
  .productCard--wishlist-status {
  font-size: 18px;
  font-weight: 600;
  color: #ebeae9;
  /* padding-top: 6px; */
  display: block;
}
.Product-Card .productCard--Onwishlist-statusWrapper {
  height: 34px;
  background-color: #e5e5e5;
  padding-top: 11px;
  padding-bottom: 5px;
  margin-top: -5px;
  border-radius: 0 0 8px 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  cursor: pointer;
}
.Product-Card
  .productCard--Onwishlist-statusWrapper
  .productCard--Onwishlist-status {
  font-size: 18px;
  font-weight: 600;
  color: #00acd8;
  display: block;
  /* margin-top: 6px; */
}
.Product-Card
  .productCard--Onwishlist-statusWrapper
  .productCard--Onwishlist-checkedIcon {
  width: 20px;
  height: 20px;
  background: url(/images/ic_check.svg) center / contain no-repeat;
  display: block;
  margin-right: 10px;
  /* margin-top: 6px; */
}
.Product-Card .productCard--name {
  font-size: 18px;
  font-weight: 600;
  color: #515252;
  letter-spacing: 0.025em;
  text-align: center;
  margin: 0 auto;
  margin-top: 11px;
  padding: 0 10px;
  z-index: 1;
  max-width: 192px;
}
.Product-Card .productCard--priceWrapper {
  height: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}
.Product-Card .productCard--priceWrapper .productCard--discountWrapper {
  display: flex;
  margin-top: 13px;
}
.Product-Card
  .productCard--priceWrapper
  .productCard--discountWrapper
  .productCard--dicount-percent {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  background: #d33737;
  padding: 3.4px;
  border-radius: 6px;
  margin: 0;
}
.Product-Card
  .productCard--priceWrapper
  .productCard--discountWrapper
  .productCard--dicount-price {
  position: relative;
  font-size: 13px;
  letter-spacing: 0.015em;
  color: #515252;
  margin-left: 2.6px;
  margin-top: auto;
  margin-bottom: auto;
}
.Product-Card
  .productCard--priceWrapper
  .productCard--discountWrapper
  .productCard--dicount-price
  svg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.Product-Card
  .productCard--priceWrapper
  .productCard--discountWrapper
  .productCard--dicount-price
  svg
  line {
  stroke: #ff1010;
  stroke-width: 1;
}
.Product-Card .productCard--priceWrapper .productCard--Onwishlist--price {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.015em;
  color: #515252;
  margin: 0;
}
.Product-Card .productCard--priceWrapper .productCard--wishlist--price {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.015em;
  color: #515252;
  margin-top: 23px;
  margin-bottom: 10px;
}
.Product-Card .productCard--stock-status {
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  color: #00acd8;
  margin: 0;
  margin-bottom: 5.5px;
  margin-top: 7px;
  letter-spacing: 0.025em;
  z-index: 1;
}
.Product-Card .productCard--underline {
  height: 1px;
  width: 140px;
  border: 0;
  background-color: #00acd8;
  margin: 0 auto;
  z-index: 1;
}
.Product-Card .productCard--detail {
  font-size: 18px;
  font-weight: 600;
  color: #00acd8;
  text-align: center;
  margin-top: 5.5px;
  margin-bottom: 10px;
  z-index: 1;
  cursor: pointer;
}
