@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap');
.forgotPassword {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 894px;
  width: 450px;
  box-shadow: -10px 0 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  padding: 53px 65px 62px 56px;
  font-family: 'Source Sans Pro';
}
.forgotPassword .forgotPassword--imgWrapper {
  max-width: 350px;
  margin: 0;
  margin-bottom: 60px;
}
.forgotPassword .forgotPassword--imgWrapper .forgotPassword--img {
  height: 100%;
  width: 100%;
}
.forgotPassword .forgotPassword--emailWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
.forgotPassword .forgotPassword--label {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3em;
  letter-spacing: 0.025em;
  color: #0b2443;
}
.forgotPassword .forgotPassword--input {
  height: 1.2em;
  border: 0;
  border-bottom: 1px solid #0b244359;
  font-size: 18px;
  color: #0b2443;
}
.forgotPassword .forgotPassword--input:focus {
  outline: none;
  border-bottom: 1px solid #0b2443;
}

.forgotPassword .forgotPassword--buttonWrapper {
  width: 100%;
  margin-top: 40.6px;
  display: flex;
  justify-content: flex-end;
}
.forgotPassword .forgotPassword--buttonWrapper .forgotPassword--button {
  color: #ffffff;
  height: 40px;
  min-width: 150px;
  font-size: 14px;
  border-radius: 39px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16);
  background-color: #83329c;
  outline: 0;
  border: 0;
  overflow: visible;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.025em;
}
.forgotPassword .forgotPassword--signupButtonWrapper {
  width: 100%;
}
.forgotPassword
  .forgotPassword--signupButtonWrapper
  .forgotPassword--signupButton {
  color: #83329c;
  height: 45px;
  width: 100%;
  min-width: 120px;
  border-radius: 39px;
  border: solid 1px #83329c;
  background-color: #ffffff;
  outline: 0;
  overflow: visible;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.025em;
  margin-top: 345px;
}
