@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap');
.newPassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 779px;
  width: 450px;
  box-shadow: -10px 0 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  padding: 53px 65px 62px 56px;
  font-family: 'Source Sans Pro';
}
.newPassword .newPassword--imgWrapper {
  max-width: 350px;
  margin: 0;
  margin-bottom: 60px;
}
.newPassword .newPassword--imgWrapper .newPassword--img {
  height: 100%;
  width: 100%;
}
.newPassword .newPassword--passwordWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
.newPassword .newPassword--passwordRepeatWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10.6px;
}
.newPassword .newPassword--label {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3em;
  letter-spacing: 0.025em;
  color: #0b2443;
  margin-bottom: 15.6px;
}
.newPassword .newPassword--input {
  height: 1.2em;
  border: 0;
  border-bottom: 1px solid #0b244359;
  font-size: 18px;
  color: #0b2443;
  padding: 0;
}
.newPassword .newPassword--input:focus {
  outline: none;
  border-bottom: 1px solid #0b2443;
}
.newPassword .newPassword--minCharErrorWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.newPassword .newPassword--minCharErrorWrapper .newPassword--minChar {
  font-size: 15px;
  color: #0b2443;
  letter-spacing: 0.025em;
}
.newPassword .newPassword--minCharErrorWrapper .newPassword--error {
  font-size: 15px;
  color: #d80011;
  letter-spacing: 0.025em;
}
.newPassword .newPassword--buttonWrapper {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}
.newPassword .newPassword--buttonWrapper .newPassword--button {
  color: #ffffff;
  height: 40px;
  min-width: 150px;
  font-size: 14px;
  border-radius: 39px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16);
  background-color: #83329c;
  outline: 0;
  border: 0;
  overflow: visible;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.025em;
}
.newPassword .newPassword--signupButton {
  color: #83329c;
  height: 45px;
  width: 100%;
  min-width: 120px;
  border-radius: 39px;
  border: solid 1px #83329c;
  background-color: #ffffff;
  outline: 0;
  overflow: visible;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.025em;
  margin-top: 217px;
  padding: 0;
}
