.ShoppingCart {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: solid 1px #ebeae9;
  border-radius: 8px;
  overflow: hidden;
  font-family: 'Source Sans Pro';
  z-index: 2;
  width: 1267px;
  height: 100px;
  margin-bottom: 20px;
}
.ShoppingCart .ShoppingCart--product {
  display: flex;
  align-items: center;
  width: 750px;
  height: 100%;
}
.ShoppingCart .ShoppingCart--product-figure {
  max-width: 100px;
  max-height: 100px;
  margin: 0;
  height: 100%;
  width: 100%;
}
.ShoppingCart .ShoppingCart--product-figure .ShoppingCart--product-figure-img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.ShoppingCart .ShoppingCart--product-info {
  margin-left: 30px;
  width: 100%;
}
.ShoppingCart .ShoppingCart--product-info .ShoppingCart--product-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3em;
  letter-spacing: 0.025em;
  color: #0e273b;
  background: #ffffff;
  margin: 0;
  padding: 0;
  text-align: left;
}
.ShoppingCart .ShoppingCart--product-info .ShoppingCart--product-seller {
  margin-top: 9px;
}
.ShoppingCart
  .ShoppingCart--product-info
  .ShoppingCart--product-seller
  .ShoppingCart--product-seller-label {
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 0.025em;
  color: #0e273b;
}
.ShoppingCart
  .ShoppingCart--product-info
  .ShoppingCart--product-seller
  .ShoppingCart--product-seller-name {
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 0.025em;
  color: #00acd8;
  margin-left: 9px;
}
.ShoppingCart .ShoppingCart--quantite {
  display: flex;
  align-items: center;
  margin-right: 140px;
}
.ShoppingCart .ShoppingCart--quantite-iconContainer {
  display: flex;
  cursor: pointer;
  height: 15px;
  width: 15px;
  justify-content: center;
  align-items: center;
}
.ShoppingCart .ShoppingCart--quantite .ShoppingCart--quantite-minusIcon {
  height: 2px;
  width: 11px;
  background-color: #0b2443;
}
.ShoppingCart .ShoppingCart--quantite .ShoppingCart--quantite-plusIcon {
  position: relative;
  height: 2px;
  width: 11px;
  background-color: #0b2443;
}
.ShoppingCart .ShoppingCart--quantite .ShoppingCart--quantite-plusIcon::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 11px;
  background-color: #0b2443;
  transform: rotate(90deg);
}
.ShoppingCart
  .ShoppingCart--quantite
  .ShoppingCart--quantite-inputContrainer
  .ShoppingCart--quantite-input::-webkit-outer-spin-button,
.ShoppingCart
  .ShoppingCart--quantite
  .ShoppingCart--quantite-inputContrainer
  .ShoppingCart--quantite-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.ShoppingCart
  .ShoppingCart--quantite
  .ShoppingCart--quantite-inputContrainer
  .ShoppingCart--quantite-input {
  -moz-appearance: textfield;
  width: 33px;
  height: 34px;
  background-color: #f7f7f7;
  border: none;
  margin: 0 1em;
  text-align: center;
  font-size: 16px;
}
.ShoppingCart
  .ShoppingCart--quantite
  .ShoppingCart--quantite-inputContrainer
  .ShoppingCart--quantite-input:focus {
  outline: none;
}
.ShoppingCart .ShoppingCart--priceContainer {
  margin-right: 157px;
}
.ShoppingCart .ShoppingCart--priceContainer .ShoppingCart--price {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3em;
  letter-spacing: 0.025em;
  color: #0e273b;
  white-space: nowrap;
}
.ShoppingCart .ShoppingCart--closeContainer {
  display: flex;
  width: 20px;
  height: 20px;
  position: relative;
  align-items: center;
  position: relative;
  margin-right: 2em;
  cursor: pointer;
}
.ShoppingCart .ShoppingCart--closeContainer .ShoppingCart--close {
}
.ShoppingCart .ShoppingCart--closeContainer .ShoppingCart--close::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  width: 18px;
  background-color: #0b2443;
  transform: rotate(45deg);
}
.ShoppingCart .ShoppingCart--closeContainer .ShoppingCart--close::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  width: 18px;
  background-color: #0b2443;
  transform: rotate(135deg);
}
