.UpdateAdress {
  width: 558px;
  height: 462px;
  border-radius: 8px;
  border: solid 1px #ebeae9;
  background-color: #ffffff;
  padding: 44px 30px 30px 40px;
  font-family: 'Source Sans Pro';
}
.UpdateAdress .UpdateAdress--head {
  margin-bottom: 30px;
}
.UpdateAdress .UpdateAdress--head .UpdateAdress--head-p {
  font-size: 18px;
  font-weight: 600;
  color: #83329c;
  letter-spacing: 0.12px;
  margin: 0;
}
.UpdateAdress .UpdateAdress--info .UpdateAdress--info-item {
  display: flex;
}
.UpdateAdress
  .UpdateAdress--info
  .UpdateAdress--info-item
  .UpdateAdress--info-label {
  width: 200px;
  margin-right: 6px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.28;
  letter-spacing: 0.43px;
  color: #0b2443;
}
.UpdateAdress
  .UpdateAdress--info
  .UpdateAdress--info-item
  .UpdateAdress--info-input,
.UpdateAdress
  .UpdateAdress--info
  .UpdateAdress--info-item
  .UpdateAdress--info-select {
  width: 272px;
  height: 33px;
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.43px;
  color: #0e273b;
  margin-bottom: 20.5px;
  border: 0;
  border-bottom: 1px solid rgb(0, 1, 16, 0.4);
  padding-bottom: 10px;
}
.UpdateAdress
  .UpdateAdress--info
  .UpdateAdress--info-item
  .UpdateAdress--info-input:focus,
.UpdateAdress
  .UpdateAdress--info
  .UpdateAdress--info-item
  .UpdateAdress--info-select:focus {
  outline: none;
  border-bottom: 1px solid rgb(0, 1, 16, 0.6);
}
.UpdateAdress
  .UpdateAdress--info
  .UpdateAdress--info-item
  .UpdateAdress--info-adress {
  display: flex;
  flex-direction: column;
}
.UpdateAdress .UpdateAdress--info--btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 56px;
}
.UpdateAdress .UpdateAdress--info--btn .UpdateAdress--info--btn-save {
  width: 150px;
  height: 40px;
  border-radius: 8px;
  background-color: #83329c;
  color: #ffffff;
  outline: 0;
  border: 0;
  overflow: visible;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.43px;
  padding: 0;
  margin-left: 30px;
}
.UpdateAdress .UpdateAdress--info--btn .UpdateAdress--info--btn-discard {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.43px;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: #83329c;
}
