*:focus {
  outline: 0;
}

.playerContainer {
  position: relative;
  width: 1021px;
  height: 575px;
}

.overlayContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 0.4;
}

.hotspot:hover .outer-circle {
  height: 60px !important;
  width: 60px !important;
  margin-left: -30px !important;
  margin-top: -30px !important;
}

.hidden {
  display: none !important;
}

.close-button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px 20px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.notify {
  position: absolute;
  top: 0px;
  width: 1000px;
  height: 0;
  box-sizing: border-box;
  color: white;
  text-align: center;
  background: rgba(200, 0, 40, 1);
  overflow: hidden;
  box-sizing: border-box;
  transition: height 0.2s;
}

#notifyType {
  display: block;
  margin-top: 15px;
  font-size: 18px;
}

.notify-active {
  height: 50px;
}
